
<div class="row">
  <div class="col-md-8">
    <%= render @posts %>
    <div class="col-md-4">
</div>
  </div>
  <div class="tag_cloud">
    <h3><%= t('items.tag') %>: </h3>
    <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</div>
