// Place all the styles related to the Posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
article.post
  margin-bottom: 1em
  padding: 1em 0
  border-bottom: solid #303237
  h1, h2
    margin-bottom: 0
  section.post-summary
    padding: .5em
    margin-bottom: 20px

  section.post-body
    padding-top: 1em
    .img-show
      display: block
      margin-bottom: 2em
    .thumb
      float: left
      margin-right: 1em
  section.post-head
    padding-left: 20px
